{
        email {$CADDY_EMAIL}

        # For testing to avoid rate limits
        #ca https://acme-staging-v02.api.letsencrypt.org/directory

        # Enable debug mode
        #debug
}

{$CADDY_DOMAIN:localhost} {
        log {
                format filter {
                        request>remote_ip ip_mask 16 32
                        request>client_ip ip_mask 16 32
                }
        }

        reverse_proxy /socket.io/* {$CADDY_PROXY_ADDRESS} {
                lb_policy cookie
        }

        # Return 404 for all other requests
        @not_proxy {
                not path /socket.io/*
        }

        respond @not_proxy 404 {
                close
        }

        header {
                # Enforce HTTPS
                Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
                # Content Security Policy
                Content-Security-Policy
                default-src 'self';
                connect-src 'self' {$CADDY_FRONTEND_URL} wss://{$CADDY_DOMAIN} https://{$CADDY_DOMAIN};
                script-src 'self' 'unsafe-inline';
                style-src 'self' 'unsafe-inline';
                img-src 'self' data:;
                media-src 'self';

                # Prevent MIME-type sniffing
                X-Content-Type-Options nosniff
                # Prevent the site from being framed
                X-Frame-Options DENY
                # Control referrer information
                Referrer-Policy no-referrer-when-downgrade
                # Allow access to camera and microphone for WebRTC
                Permissions-Policy "camera=(self), microphone=(self), geolocation=()"
                # Omit server information
                -Server
        }
}
