# server
PORT=8000
SERVER_REGION="localhost"
NODE_ENV="development"
PINO_LOG_LEVEL="info"
CORS_ORIGINS=""
API_KEY=""
SSL_CERTIFICATE=""
SSL_CERTIFICATE_KEY=""

# redis
REDIS_URL=""
REDIS_PORT=""
REDIS_USERNAME=""
REDIS_PASSWORD=""

# supabase
SUPABASE_DB_PWD=""
SUPABASE_ANON_PUB=""
SUPABASE_SERVICE_ROLE_KEY=""
SUPABASE_URL=""
SUPABASE_JWT_SECRET=""

# socket-io
ADMIN_UI_USERNAME=""
ADMIN_UI_PASSWORD=""

# alloy
ALLOY_SERVICE_NAME=""
ALLOY_METRICS_SERVICE_URL=""
ALLOY_METRICS_SERVICE_USERNAME=""
ALLOY_METRICS_SERVICE_PASSWORD=""
ALLOY_LOKI_URL=""
ALLOY_LOKI_USERNAME=""
ALLOY_LOKI_PASSWORD=""

# caddy
CADDY_EMAIL=""
CADDY_DOMAIN=""
CADDY_FRONTEND_URL=""
